@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


:root {
  --blue: hsl(220, 98%, 61%);
  --check-gradient: linear-gradient(90deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,*::before,*::after {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: inherit;
}

.light {
  --color-primary: hsl(235, 19%, 35%);
  --color-secondary: hsl(236, 9%, 61%);
  --color-tertary: hsl(233, 11%, 84%);
  --bg-primary: hsl(0, 0%, 91%);
  --bg-secondary: hsl(240, 9%, 98%);

  --border: hsl(230, 6%, 81%);
}
.dark {
  --color-primary: hsl(234, 39%, 85%);
  --color-secondary: hsl(233, 14%, 35%);
  --color-tertary:  hsl(236, 33%, 92%);
  --color-complete:  hsl(234, 11%, 52%);
  
  --bg-primary: hsl(235, 21%, 11%);
  --bg-secondary: hsl(235, 24%, 19%);
  --bg-tertary:  hsl(237, 14%, 26%);

  --border: hsl(0, 0%, 30%);
}

.App {
  background-color: var(--bg-primary);
  min-height: 100vh;
}

/* HEADER */
.header {
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-light {
  background-image: url(./assets/bg-desktop-light.jpg);
}
.bg-dark {
  background-image: url(./assets/bg-desktop-dark.jpg);
}

/* THEME */
.theme {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.theme__heading {
  color: white;
  font-size: 3.5rem;
  letter-spacing: 1rem;
}
.theme__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.theme__icon {
  height: 2.5rem;
}

/* TODO */
.todo-container {
  transform: translateY(-20rem);
  width: 85%;
  max-width: 75rem;
  margin: auto;
  background-color: transparent;
}
.todo__item {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--border);
}
.todo__content {
  display: flex;
  gap: 1.5rem;align-items: center;
}
.todo__delete {
  cursor: pointer;
  height: 1.6rem;
}
.align-left {
  flex-grow: 1;
  text-align: left;
}

.create {
  background-color: var(--bg-secondary);
  border-radius: .5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.create__circle {
  cursor: pointer;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  border: 1px solid var(--color-tertary);
}
.done {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: var(--check-gradient);

}
.hide {
  visibility: hidden;
}
.todo-done {
  text-decoration: line-through;
}

form {
  flex-grow: 1;
}
.create__input {
  background-color: var(--bg-secondary);
  color: var(--color-primary);
  outline: none;
  width: 100%;
  border: none;
  font-size: 1.5rem;
}

/* LIST */
.list {
  background-color: var(--bg-secondary);
  border-radius: .5rem;
  color: var(--color-primary);
  padding: 1rem 2rem; 
  font-size: 1.6rem;
  text-align: center;
}
.data {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.empty {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.6rem;
}